/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
/* @import removed, loaded in layout.tsx */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

html,
body {
  overscroll-behavior-y: none;
}

html.lenis {
  height: auto !important;
}

body.lenis {
  height: auto !important;
}

.huge_nav-button {
  mix-blend-mode: normal !important;
}

.splide__track {
  overflow: visible;
}

/* Tools Image (fade effect) */
.splide.tools-image .splide__slide {
  opacity: 0;
  transform: none !important;
  transition: opacity 0.15s ease;
  will-change: opacity;
  z-index: 1;
  display: block !important; /* Ensure it's not hidden by splide if not active but we handle opacity */
}

.splide.tools-image .splide__slide.is-active {
  opacity: 1;
  z-index: 2;
}

/* Text Tags (Chips) */
.slide_super-chip {
  background-color: white;
  color: black;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.splide__slide.is-active .slide_super-chip {
  background-color: #f7ff9e;
  color: black;
}

/* General disabled button style */
.splide button:disabled {
  opacity: 0.2;
}

/* Dark theme arrows and pagination */
.is--dark .splide__arrow {
  filter: invert(100%);
}

.is--dark .splide__pagination__page {
  background-color: #dfdad5;
}

/* Pill Slider */
.splide.pill .splide__pagination {
  display: none;
}

/* Tall Slider */
.splide.tall .splide__pagination {
  display: none;
}

.splide__slide.is-active .text-opacity {
  color: white;
}

.splide__slide.is-active:hover .text-opacity {
  color: #f7ff9e;
}

.splide__slide.is-active .slider-tall_img,
.splide__slide.is-active .slider-tall_photo {
  transform: scale(1.05);
}

.splide__slide.is-active .rounded {
  border-radius: 0.75em;
}

.hide {
  display: none;
}

